/* how it works style */

.how-it-works {
    margin: 1.5vw;
}

/* how it works heading style */

.how-it-works h1 {
    background: linear-gradient(to right, #0092ee 0%, #203381 100%);
    background-clip: text;

    -webkit-background-clip: text;
    font-size: 6vw;
    text-align: center;
    -webkit-text-fill-color: transparent;
}

/* how it works section style */

.how-it-works-section {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-evenly;
    text-align: center;
}

/* how it works figure style */

.how-it-works-section figure {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
}

/* how it works images style */

.how-it-works-img {
    height: 15vw;
    width: auto;
}

/* how it works figcaption style */

.how-it-works-figcaption {
    font-size: 1.2vw;
    font-family: "Kaisei Decol", Calibri, serif;
}

.down-arrow {
    height: 6vw;
    left: 90%;
    position: absolute;
    top: 58%;
}

@media (min-width: 1281px) {
    .how-it-works-img {
        height: 19vw;
        width: auto;
    }
    .down-arrow {
        height: 4vw;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .arrow {
        width: 13vw;
    }

    .how-it-works-img {
        width: 16.5vw;
    }

    .underline {
        background-size: 30% 5px;
    }
    .down-arrow {
        height: 9vw;
        left: 87%;
        rotate: -15deg;

        top: 47%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .how-it-works-img {
        width: 16vw;
    }
    .arrow {
        width: 13vw;
    }

    .underline {
        background-size: 30% 5px;
    }
    .down-arrow {
        height: 10vw;
        left: 87%;
        rotate: -25deg;

        top: 47%;
    }
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
    .how-it-works-img {
        width: 16vw;
    }
    .arrow {
        width: 13vw;
    }

    .underline {
        background-size: 30% 5px;
    }
    .down-arrow {
        height: 10vw;
        left: 87%;
        rotate: -25deg;

        top: 47%;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .how-it-works-img {
        width: 16vw;
    }
    .arrow {
        width: 13vw;
    }

    .underline {
        background-size: 30% 3px;
    }

    .down-arrow {
        height: 10vw;
        left: 87%;
        rotate: -25deg;
        top: 45%;
    }
}
